.carrousel{

}

.swiper-container{
  margin-top: 200px;
  height: 600px;


  .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;

}
  .filmswiper{
    flex-direction: column;
    margin: 10px;
}
}

