.fiche-film{
  display:flex;
  margin-top: 220px;
  height: 750px;
  padding: 50px 100px 50px 100px;

  .affiche{
    width: 300px;
    height: 500px;
    left: 50%;
  }

  h3{
    position:absolute;
    top: 920px;
    left: 50%;
    color: var(--color-text-primary);

    box-sizing: border-box;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%,-50%);
  }

  h4{
    top:750px;
    position:absolute;
    font-size: 1rem;
  }

  h2{
    width: 70%;
    margin-left: -10%;
    mix-blend-mode: difference;
    color: var(--color-white);
    font-size: 3rem;
    position: relative;
    left:-5%;
    top:-5%;
    z-index: 1;
  }

  p{
    position:absolute;
    margin-top:180px;
    top: 350px;
    left: 50%;
    width: 500px;


  }

  .banc{
    position:absolute;
    height:644px ;
    width:600px;
    left: 50%;
    top: 300px;
    z-index: 0;
    opacity: 0;
  }



  &:hover{
    background: #2f0202;
    transition: .5s all;

    h3{
      color: var(--color-white);
      transition: .5s all;
      top:950px;
      border: 2px solid  var(--color-white);
    }
    h4{
      color: var(--color-white);
      transition: .5s all;
    }

    h2{
      mix-blend-mode: lighten;
      left: 12%;
      transition: .5s all;
    }

    p{
      color: var(--color-white);
      transition: .5s all;
    }
    .liste-acteurs{
      background: var(--color-white);
      transition: .5s all;
    }
    .banc{
      opacity: 0.5;
      transition: 1.5s all;
    }
  }
}

.liste-acteurs{
  height: 500px;
  border:2px solid var(--color-white);
  margin-bottom:100px ;

  .swiper-container{
    padding: 20px;
    width: 100%;
    height: 100%;



    .swiper-slide{
      display: flex;
      justify-content: center;
      align-items: center;


    }
    .filmswiper{
      flex-direction: column;
      margin: 0 50px 0 50px;

    }
  }

  .swiper-button-prev, .swiper-button-next{
    color:var(--color-white);
  }

  .swiper-pagination-bullet{
    background: var(--color-white);
    opacity: 0;
  }

  .swiper-scrollbar-drag{
    background: var(--color-white);
    opacity: 0;
  }

  img{
    width: 200px;
    height: 200px;


  }

}




