.fiche-film{
  display:flex;
  margin-top: 220px;


  img{
    width: 50%;
  }

  h2{
    width: 70%;
    margin-left: -10%;
    mix-blend-mode: difference;
    color: var(--color-white);
    font-size: 3rem;
    z-index: 1;

  }

  p{

  }
}

