.fiche-film{
  display:flex;
  margin-top: 220px;
  height: 750px;
  padding: 50px 100px 50px 100px;
  transition: .5s all;

  .affiche{
    width: 350px;
    height: 500px;
  }

  h3{
    position:absolute;
    top: 920px;
    left: 50%;
    color: var(--color-text-primary);

    box-sizing: border-box;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%,-50%);
    transition: .5s all;
  }

  .date{
    top:750px;
    position:absolute;
    font-size: 1rem;
    transition: .5s all;
  }
  .langue{
    top:775px;
    position:absolute;
    font-size: 1rem;
    transition: .5s all;
  }
  .duree{
    top:800px;
    position:absolute;
    font-size: 1rem;
    transition: .5s all;
  }
  .budget{
    top:850px;
    position:absolute;
    font-size: 0.75rem;
    transition: .5s all;
  }
  .recette{
    top:870px;
    position:absolute;
    font-size: 0.75rem;
    transition: .5s all;
  }

  h2{
    width: 70%;
    margin-left: -10%;
    mix-blend-mode: difference;
    color: var(--color-white);
    font-size: 3rem;
    position: relative;
    left:-5%;
    top:-5%;
    z-index: 1;
    transition: .5s all;
  }

  p{
    position:absolute;
    margin-top:180px;
    top: 350px;
    left: 50%;
    width: 500px;
    transition: .5s all;
  }

  .banc{
    position:absolute;
    height:644px ;
    width:600px;
    left: 50%;
    top: 300px;
    z-index: 0;
    opacity: 0;
    transition: .5s all;
  }



  &:hover{
    background: var(--color-tertiary);
    transition: .5s all;

    h3{
      color: var(--color-white);
      transition: .5s all;
      top:950px;
      padding: 20px;
      border: 2px solid  var(--color-white);
      background:  var(--color-black);
      transform: translate(-50%,-50%);
    }
    h4{
      color: var(--color-white);
      transition: .5s all;
    }

    h2{
      mix-blend-mode: lighten;
      left: 12%;
      transition: .5s all;
    }

    p{
      color: var(--color-white);
      transition: .5s all;
    }
    .liste-acteurs{
      background: var(--color-white);
      transition: .5s all;
    }
    .banc{
      opacity: 0.5;
      transition: 1.5s all;
    }
  }
}

.liste-acteurs{
  height: 500px;
  border:2px solid var(--color-white);
  margin-bottom:100px ;

  .swiper-container{
    padding: 20px;
    width: 100%;
    height: 100%;

    .swiper-slide{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .filmswiper{
      flex-direction: column;
      margin: 0 50px 0 50px;

    }
  }

  .swiper-button-prev, .swiper-button-next{
    color:var(--color-white);
  }

  .swiper-pagination-bullet{
    background: var(--color-white);

  }

  .swiper-scrollbar-drag{
    background: var(--color-white);
    opacity: 0;
  }

  img{
    width: 200px;
    height: 300px;


  }
}

@media screen and (max-width: $vw-special){

  .fiche-film{
    color:var(--color-white);
    display: flex;
    background: var(--color-tertiary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;

    .banc{
      display: none;
    }

    .affiche{
      margin-top: 40px;
      width: 400px;
    }

    h3{
      position: unset;
      transform: none;
      justify-content: center;
      color:var(--color-white);
      padding: 20px;
      border: 2px solid  var(--color-white);
      background:  var(--color-black);
    }

  .date{
      position: unset;
      color:var(--color-white);
      margin-top: 0;
    margin-bottom: 5px;
    }
    .duree{
      position: unset;
      color:var(--color-white);
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .langue{
      position: unset;
      color:var(--color-white);
      margin-top: 0;
    }
    .budget{
      position: unset;
      color:var(--color-white);
      margin-top: 0;
      margin-bottom: 2px;
    }
    .recette{
      position: unset;
      color:var(--color-white);
      margin-top: 0;
    }

    h2{
      font-size: var(--fz-h2);
      position: unset;
      color:var(--color-white);
      width: 100%;
      margin-left: 0;
      mix-blend-mode: lighten;
      left:0;
      top:0;
      padding: 20px;
      margin-bottom: 0;
    }

    p{
      position: unset;
      width: 100%;
      padding: 20px;
      margin-top:0;
      margin-bottom:40px;
    }

    &:hover{

      h3{
        top:0;;
        transform: none;
      }

     }
  }

}

@media screen and (max-width: $vw-medium){
  .fiche-film{
    margin-top: 83px;

    .affiche{
      width: 400px;
    }
  }


}

@media screen and (max-width: $vw-medium){
  .fiche-film{
    margin-top: 83px;

    .affiche{
      width: 400px;
    }
  }
}

  @media screen and (max-width: $vw-small){
    .fiche-film{
      .affiche{
        width: 100%;
      }
    }
  }