.liste-films{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;





  article {
    flex-basis: 24%;
    padding: 0;
    margin-bottom: 20px;
  }

  p{
    margin: 30px;
  }

  h2{
    margin-bottom: 0;
  }

  h4{
    margin-top: 5px;
  }
}

.liste-acteurs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.liste-acteurs .acteur{
  width: calc(20% - 30px);
}

.film{
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover{
    color: var(--color-white);
    background: #2f0202;
    transition: .9s all;

    h4{
      color: var(--color-white);
      transition: .9s all;
    }

    img{
      border: 15px solid #2f0202;
      transition: .5s all;
    }

    a{
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid var(--color-white);
      transition: 1s all;

      &:hover{
        background:var(--color-white) ;
        transition: .5s all;
      }
    }
  }
}

.film{
  display:flex;
}

.liste-films article {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  margin-bottom: 20px;
}


@media screen and (min-width: $vw-large){
  .liste-films article {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

}

@media screen and (max-width: $vw-medium){
  .liste-films article {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    img{
      width: 80%;
    }
  }


}

