//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3, h4, h5, h6{
  font-family: var(--ff-title);
  line-height: var(--lh-thin);
  font-weight: var(--fw-bold);
  color:var(--color-white) ;
}

h1{
  font-size: var(--fz-h1);
  text-transform: uppercase;
}

h2{
  font-size: var(--fz-h2);
  text-transform: uppercase;
}

h3{
  font-size: var(--fz-h3);
}

h4{
  font-size: 0.6rem;
  font-family: var(--ff-normal);
  color: var(--color-text-primary);
}

h5{
  font-size: var(--fz-h5);
}

h6{
  font-size: var(--fz-h6);
}
